@media only screen and (min-width: 768px) and (max-width: 840px) {
  /* CSS rules for browser widths from 601px to 1200 px */
  .bpx-1 {
    margin-right: -56px;
  }
  .shap {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  /* CSS rules for browser widths from 601px to 1200 px */

  .shape {
    display: none;
  }
}
