.from-wraps {
  background-image: url(../../images/Page\ 24.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 20px;
}

.main {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px;
  color: #497bee;
}
/* Hide the default checkbox */
input[type="checkbox"] {
  visibility: hidden;
}

/* Creating a custom checkbox
          based on demand */
.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #497bee;
  border-radius: 5px;
  background-color: #07062b;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Specify the background color to be
          shown when checkbox is checked */
.main input:checked ~ .geekmark {
  background-color: #07062b;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .geekmark:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
        showing only two border to make it look
        like a tickmark */
.main .geekmark:after {
  left: 8px;
  bottom: 8px;
  width: 6px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button-shrink {
  transition: all 0.2s ease-in-out;
}
.button-shrink:hover {
  transform: scale(0.9);
  background-color: #06072d;
  border: 1px solid #497bee;
  border-radius: 16px;
}

/* time and date input field */
.t {
  position: relative;
  height: 56px;
}
.t::-webkit-calendar-picker-indicator {
  width: 27px;
  height: 30px;
  background: url("../../images/clock.png");
  background-repeat: no-repeat;
  margin-top: 8px;
}
.d {
  position: relative;
  height: 56px;
}
.d::-webkit-calendar-picker-indicator {
  width: 27px;
  height: 30px;
  background: url("../../images/calender.png");
  background-repeat: no-repeat;
  margin-top: 8px;
}

.popUp-wrap {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #06042b;
  opacity: 0.6;
}
.popup-container {
  position: fixed;
  top: -60%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
}
