.button-hero {
  transition: all 0.2s ease-in-out;
}
.button-hero:hover {
  transform: scale(0.9);
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  /* CSS rules for browser widths from 601px to 1200 px */

  .chart {
    width: 381px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 390px) {
  /* CSS rules for browser widths from 601px to 1200 px */

  .chart {
    width: 356px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 375px) {
  /* CSS rules for browser widths from 601px to 1200 px */

  .chart {
    width: 341px;
  }
}
