/* .down-arrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid #322f6e;
  top: 48%;
  left: 20%;
}
/* .down-arrow ::before {
  background: url("../../images/tabDownAro.png");
  background-repeat: no-repeat;
} */

@media only screen and (min-width: 375px) and (max-width: 414px) {
  /* CSS rules for browser widths from 601px to 1200 px */

  .chart {
    width: 381px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 390px) {
  /* CSS rules for browser widths from 601px to 1200 px */

  .chart {
    width: 356px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 375px) {
  /* CSS rules for browser widths from 601px to 1200 px */

  .chart {
    width: 341px;
  }
}
