.org-div {
  width: 579px;
  height: 212px;
  border-radius: 15px;
  padding: 15px;
}
.gold-coin {
  width: 500px;
  height: 500px;
}
.border-wrap {
  border: 10px solid #052f52;
  padding: 50px;
  background-color: #0d0a3a;
}

@media only screen and (min-width: 275px) and (max-width: 768px) {
  /* CSS rules for browser widths from 601px to 1200 px */

  .border-wrap {
    border: none;
    padding: none;
    background-color: #d75d29;
    border-radius: 15px;
  }
}
